<!-- views/partials/_header.ejs -->
<!DOCTYPE html>
<%
var showLogin = "table";
var showLogout = "none";

if (usrObj)
{
showLogin = (usrObj["id"] === undefined) ? "table" : "none";
showLogout = (usrObj["id"] !== undefined) ? "table" : "none";
}
%>

<header style="margin: 0 auto; text-align: center;">

<title>TinyApp URL Shortener</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <h3><%=(usrObj !== undefined) ? "Hello " + usrObj.email + ", Welcome to " : "";%> TinyApp<h3>
  <% if (usrObj === undefined) {%> <% include _login%> <% } %>

</header>

<!-- Add create url and logout forms and buttons -->
<% if (usrObj !== undefined) { %>
<table style="display: <%=showLogout%>; margin:0 auto 12px auto; text-align:left; width: 445px;" class="table table-zebra">
<tr style="border-bottom: 1px solid #dee2e6;">
<td><a href="/urls/new"><button style="margin-left: 0.25em;" class="btn btn-success">Create New URL</button></a></td>
<td><a href="/urls"><button style="margin-left: 0.25em;" class="btn btn-primary">View URL List</button></a></td>
<td><form style="text-align:center;" method="POST" action="/logout">
<button style="margin-left: 0.25em;" class="btn btn-danger" type="submit">Logout</button></form></td></tr></table><% } %>
