<!-- views/partials/_header.ejs -->
<!DOCTYPE html>
<%
var showLogin = "table";
var showLogout = "none";

if (usrObj)
{
showLogin = (usrObj["id"] === undefined) ? "table" : "none";
showLogout = (usrObj["id"] !== undefined) ? "table" : "none";
}
console.log("blah", usrObj);
%>

<header style="margin: 0 auto; text-align: center;">

<title>TinyApp URL Shortener</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <h1><%=(usrObj !== undefined) ? "Hello " + usrObj.email + ", Welcome to " : "";%> TinyApp<h1>
  <% if (usrObj !== undefined) { %> <h5><a style="font-weight:bold; text-decoration:underline;" href='/urls/new'>Create New TinyURL</a></h5> <% } %>
</header>

<!-- Add login and logout forms and buttons -->
<table style="display: <%=showLogin%>; margin:0 auto 12px auto; text-align:left; width: 65%;" class="table table-hover">
<tr><th>
<form style="text-align:center;" method="POST" action="/login"><input type="text" placeholder=" Enter your username" name="username" value="" />
<button style="margin-left: 0.25em;" class="btn btn-primary" type="submit">Login</button></form>
</th></tr>
</table>
<table style="display: <%=showLogout%>; margin:0 auto 12px auto; text-align:left; width: 65%;" class="table table-hover">
<tr style="border-bottom: 1px solid #dee2e6;"><th>
<form style="text-align:center;" method="POST" action="/logout">
<button style="margin-left: 0.25em;" class="btn btn-danger" type="submit">Logout</button></form>
</th></tr>