<!-- views/partials/_header.ejs -->
<meta charset="UTF-8">
<header style="margin: 0 auto; text-align: center;">
<title>TinyApp URL Shortener</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <h1>TinyApp<h1>
  <h6><a style="font-weight:bold; text-decoration:underline;" href='/urls/new'>Create New TinyURL</a></h5><br />
<header>
