<!-- views/partials/_header.ejs -->
<meta charset="UTF-8">
<title>TinyApp URL Shortener</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<html><body>
  <h1>TinyApp<h1>
  <h5><a href='/urls/new'>Create New TinyURL</a></h5><br />
</body></html>